Babel==2.5.1
click==6.7
Flask==0.12.2
Flask-Babel==0.11.2
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.3.2
Flask-Table==0.4.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysql-connector-python-rf==2.2.2
PyMySQL==0.7.11
pytz==2017.3
SQLAlchemy==1.1.15
Werkzeug==0.12.2
flask-bootstrap
