<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/custom.css" rel="stylesheet">

    <title>Bookstore</title>
	<!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Bootstrap core JavaScript -->
	<!-- href="{{ url_for('static', filename='vendor\bootstrap\js\bootstrap.bundle.min.js') }}" -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link 	href="{{ url_for('static', filename='css/landing_page.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->	

</head>

<body>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bookstore Application</h1>
        </div>
      </div>
      <nav class="navbar navbar-light bg-faded">
        <div class="nav navbar-nav">
          <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/browse/">Browse</a>
          <a class="nav-item nav-link" href="/getrecord/">Profile</a>
          <a class="nav-item nav-link active" href="/manager">Manager</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
      </nav>
      <br>
      <h2>Record a New Book</h2>
      <p>Enter your new book details below.</p>
      <form action="." method="POST">
          <input type="text" name="title" placeholder="book title" required>
          <input type="text" name="isbn13" placeholder="ISBN13" required>
          <br>
          <input type="text" name="authors" placeholder="authors" required>
          <input type="text" name="publisher" placeholder="publisher" required>
          <input type="number" name="year" min='0' placeholder="year of publication" required>
          <br>
          <input type="number" name="copies" min='1' placeholder="number of copies" required>
          <br>
          <input type="number" name="price" min='0' placeholder="price" required>
          <br>
          <input type="text" name="format" placeholder="format" required>
          <br>
          <input type="text" name="keywords" placeholder="keywords" required>
          <br>
          <input type="text" name="subject" placeholder="subject" required>
          <br>
          <input type="submit" name="my-form" value="Record" required>
      </form>
      <br>
      {{ recerror }}
      <br>

<div class="card text-center" style = "border-color: black; border-width: thick; margin: 50px">
  <div class="card-header" style = "background-color: #4169E1; color: white; border-color: black; border-width: thick;">
    <h3>Record a New Book</h3>
	
  </div>
  <div class="card-block">
    <h4 class="card-title"><p>Enter your new book details below.</p></h4>
	  <br>
	  <br>
      <form action="." method="POST">
		  <div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			  <div>
				<input type="text" name="title" placeholder="book title" required>
				<input type="text" name="isbn13" placeholder="ISBN13" required>
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
				  <input type="text" name="authors" placeholder="authors" required>
				  <input type="text" name="publisher" placeholder="publisher" required>
				  <input type="number" name="year" min='0' placeholder="year of publication" required>
			    </div>
			</div>			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Number of copies</h5>
			  </div>
			    <div>
				  <input type="number" name="copies" min='1' placeholder="number of copies" required>
			    </div>
			</div>			
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
				  <input type="number" name="price" min='0' placeholder="price" required>
			    </div>
			</div>			
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
					<input type="text" name="format" placeholder="format" required>
			    </div>
			</div>			
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
				  <input type="text" name="keywords" placeholder="keywords" required>
			    </div>
			</div>			
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
				  <input type="text" name="subject" placeholder="subject" required>
				</div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5></h5>
			  </div>
			    <div>
				  <input type="submit" name="my-form" value="Record" required>			   
			    </div>
			</div>
	  </form>
	  <br>
      <br>
      {{ recerror }}
      <br>
  </div style = "border-color: black; border-width: thick;">
  <div class="card-footer text-muted" style = "border-color: black; border-width: thick;"> 
  </div>
</div>
</body>
</html>
