<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/custom.css" rel="stylesheet">

    <title>Bookstore</title>
	<!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Bootstrap core JavaScript -->
	<!-- href="{{ url_for('static', filename='vendor\bootstrap\js\bootstrap.bundle.min.js') }}" -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link 	href="{{ url_for('static', filename='css/landing_page.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->	


</head>
<body>
  
<div class="card text-center" style = "border-color: black; border-width: thick; margin: 100px">  
  <div class="card-header" style = "background-color: #4169E1; color: white; border-color: black; border-width: thick;">
    <h2 style = "color: white;">Welcome to the Book Store</h2>
  </div>

  <div class="card-block">
    <h3 class="card-title">Enter your new account details below.</h3>
	  <br>
	  <br>

      <h4 class="card-title">Get Monthly Statistics</h4>
	  <p>Enter your preferred report criteria below.</p>
      <form action="." method="POST">
		<div style = "padding-left: 35%;">
		
		  <div class="row">
			  <div class="col-sm-3">
				<h5>First Name:</h5>
			  </div>
			  <div>
				<input type="text" name="first_name" required autocomplete="off" maxlength="20" placeholder="First Name">
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Last Name:</h5>
			  </div>
			    <div>
			      <input type="text" name="last_name" required autocomplete="off" maxlength="20" placeholder="Last Name">
			    </div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Username:</h5>
			  </div>
			    <div>
				  <input type="text" name="username" required autocomplete="off" maxlength="20" placeholder="Username">
			    </div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Password:</h5>
			  </div>
			    <div>
				  <input type="password" name="password" required autocomplete="off" maxlength="20" placeholder="Password">
			    </div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Address:</h5>
			  </div>
			    <div>
				  <input type="text" name="address" required autocomplete="off" maxlength="50" placeholder="Address">
			    </div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Credit Card Number:</h5>
			  </div>
			    <div>
				  <input type="number" name="ccno" required autocomplete="off" min="0" maxlength="20" placeholder="Credit Card Number">
			    </div>
			</div>			
			
			<div class="row">
			  <div class="col-sm-3">
				<h5>Phone Number:</h5>
			  </div>
			    <div>
				  <input type="number" name="phone" required autocomplete="off" min="0" maxlength="20" placeholder="Phone Number">	  
			    </div>
			</div>
			
          </div>
		  
			<div>
				<button type="submit" name="my-form" value="register" class="btn btn-primary"/>Register</button>
			</div>	
			<p style = "color: red;"> {{ regerror }} </p>	
	  </form>
	    	<form action="." method="POST">
				<button type="submit"  name="my-form" value="back" class="btn btn-primary"/>Back to Login</button>
			</form>
	  <br>


    </div style = "border-color: black; border-width: thick;">
    <div class="card-footer text-muted" style = "border-color: black; border-width: thick;"> 
    </div>
</div>
</body>
